.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    overflow: visible;
}

.center {
	text-align: center;
	    overflow: visible;
}

/* Include any custom CSS styling here! */

.row {
	    overflow: visible;

}

.written {
	margin-left: 50px;
	margin-right: 50px;
	display: inline-block;
}